/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* shared style start */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #923045;
  color: orange;
}
/* shared style end */
body {
  background-color: #f5f8ff;
}
/* nav bar start */
header {
  background-image: url("./Assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}
.nav-bar {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.nav-bar h2 {
  color: #4e47ff;
  font-size: 34px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  line-height: 150%;
}
.nav-bar button {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 10px;
  background: #4e47ff;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
}
/* nav bar end */

/* banner section start */
.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.banner-section h1 {
  color: #252432;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 700;
  width: 80%;
}
.banner-section button {
  margin-top: 25px;
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 10px;
  background: #4e47ff;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
}
/* banner section end */

/* action section start */
.action-section {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
.action-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.action-content h2 {
  color: #252432;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.action-content p {
  color: rgba(37, 36, 50, 0.5);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 23px 0;
}
.action-content button {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 10px;
  border: none;
  background: #4e47ff;
  padding: 12px 36px;
  cursor: pointer;
}
.action-img {
  width: 45%;
}
.action-img img {
  width: 100%;
  border-radius: 30px;
}
/* actin section end */

/* productive users section start */
.productive {
  margin-bottom: 50px;
  padding: 50px 0;
  background-color: #4e47ff1a;
  border-radius: 24px;
}
.productive-heading {
  color: #252432;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 700;
}
.productive-section {
  width: 90%;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.productive-content h2 {
  color: #4e47ff;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
}
.productive-content p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
/* productive users section end */

/* review section start */
.review {
  margin: 100px 0;
}
.review-section {
  margin: 50px 0;
  display: flex;
  gap: 20px;
}
.review-heading {
  color: #252432;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.review-content {
  width: 319px;
  padding: 24px;
  border-radius: 14px;
  background-color: #f2eded;
}
.review-star img {
  width: 20px;
  height: 20px;
}
.review-content .review-title {
  color: rgb(30, 30, 30);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2%;
  text-align: left;
  margin-top: 20px;
}
.review-content .review-descriptin {
  color: rgb(30, 30, 30);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}
.review-users-info {
  display: flex;
  gap: 10px;
  padding-top: 15px;
}
.review-users-info img {
  width: 40px;
  height: 40px;
}
.review-users-info h5 {
  color: rgb(117, 117, 117);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
}
.review-users-info p {
  color: rgb(117, 117, 117);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
/* review section end */

/* focus section start */
.focus-section {
  margin-bottom: 50px;
  padding: 70px 150px;
}
.focus-section .focus-content {
  text-align: center;
}
.focus-section .focus-content h2 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.focus-section .focus-content p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  margin: 20px 0;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.focus-content button {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 10px;
  background: #4e47ff;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.focus-section .focus-content img {
  border-radius: 48px;
}
/* focus section end */

/* newsletter section start */
.newsletter-content {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}
.newsletter-content .newsletter-text {
  width: 50%;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  display: flex;
  align-items: center;
}
.newsletter-content .newsletter-form {
  width: 50%;
}
.newsletter-form .input {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}
.newsletter-form .input .input-text {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding: 20px 25px;
  border-radius: 10px;
  margin: 10px 0;
  width: 90%;
  border: 1px solid #d6dded;
}
.newsletter-content .newsletter-form .input .textarea {
  width: 90%;
  height: 95px;
  padding: 20px 25px;
  margin-top: 10px;
  border: 1px solid #d6dded;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.input button {
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 10px;
  background: #4e47ff;
  padding: 12px 36px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 19px;
}
/* newsletter section end */

/* fotter section start */
.footter-content {
  margin-bottom: 50px;
  padding: 90px 0;
}
.footter-content h2 {
  color: #4e47ff;
  text-align: center;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footter-content p {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #8987a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footter-content .list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.footter-content .list li {
  list-style: none;
}
.footter-content .list a {
  text-decoration: none;
  color: #8987a1;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
/* fotter section end */
