/* google font start */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* google font end */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* shared style start */
.content-width {
  max-width: 1140px;
  margin: 0 auto;
}
.content-title {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.content-description {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  width: 80%;
  /* width: 852px; */
  border: 4px solid red;
  margin: 0 auto;
  margin-top: 24px;
}
/* shared style end */

/* navbar start */
header {
  margin-top: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 28px;
  font-weight: 800;
}
.navbar-btn {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  display: inline-flex;
  padding: 17px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* navbar end */

/* banner section start */
.banner {
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 36px;
}
.banner-content {
  width: 998px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 26px 221px 45px 221px;
  gap: 32px;
}
.banner-title {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
/* .banner-description {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 852px;
} */
.banner-btn-content {
  display: flex;
  padding: 21px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #0d1321;
}
.banner-btn-content .banner-btn {
  background: #0d1321;
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
/* banner section end */

/* web development section start */
.web-development-section {
  margin-top: 74px;
  padding: 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.web-development-container {
  width: 946px;
  border: 4px solid red;
  background-color: #fff;
  padding: 10px 30px;
}
.web-development-content {
  margin-bottom: 48px;
}
.web-development-part {
  display: flex;
  padding: 48px;
  gap: 32px;
}
.web-development-text .title {
  color: rgba(13, 19, 33, 0.7);
  font-family: "Azeret Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  width: 390px;
}
.web-development-text .description {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 468px;
  margin-top: 16px;
}
.web-development-text .text-btn button {
  padding: 12px 20px;
  opacity: 0.7;
  margin-top: 32px;
}
.text-btn a {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.web-development-img {
  width: 274.169px;
  height: 240px;
}
.web-development-part-second {
  display: flex;
  padding: 48px;
  gap: 32px;
  flex-direction: column;
  flex-direction: row-reverse;
  margin-top: 48px;
  margin-bottom: 48px;
}
/* web development section end */

/* my inspiration start */
.inspiration {
  margin-top: 90px;
  min-height: 500pxs;
}
.inspiration-video {
  margin-top: 48px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}
.inspiration-video .video {
  width: 100%;
  height: 550px;
  align-self: stretch;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 0px -5.621px / 100% 110.681% no-repeat;
}
/* my inspiration end */

/* target section start */
.target {
  margin-top: 150px;
  min-height: 400pxs;
}
.target-content {
}
.target-skills {
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.skill-one {
  width: 364px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.skill-title {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
  margin-top: 24px;
}
.skill-description {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 24px;
}
.skill-one .link-one {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.skill-two {
  width: 364px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.link {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.skill-three {
  width: 364px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
/* target section end */

/* next target section start */
.next-target {
  margin-top: 100px;
}
.next-target-skills {
  margin-top: 48px;
}
.reactjs {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 32px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #fff;
  margin-top: 24px;
}
/* next target section end */

/* support section start */
.support-section {
  margin-top: 49px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px 48px;
  border-radius: 16px;
}
.support-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.support-content .support-title {
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.support-content .support-description {
  color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 606px;
}
form {
  display: flex;
  gap: 16px;
}
.support-content .input {
  display: flex;
  width: 548px;
  padding: 19px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  background: #fff;
  padding: 19px 20px;
  outline: none;
}
.support-btn {
  padding: 17px 20px;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
}
.support-nav {
  margin-top: 80px;
}
/* support section  end */

/* footer section start */
#footer {
  margin-top: 80px;
}
.footer {
  width: 1440px;
  padding: 32px 150px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-social {
  display: flex;
  gap: 24px;
}
.footer-title {
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.one {
  width: 36px;
  height: 36px;
  color: #00b2ff;
}
.fa-brands {
  font-size: 30px;
  gap: 30px;
}
.two {
  width: 36px;
  height: 36px;
  color: #161614;
}
.three {
  width: 36px;
  height: 36px;
  color: #2489be;
}
/* footer section end */
