@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

/* genarel tag start */

 .container {
    max-width: 1024px;
    margin: 0 auto;
 }
 p *{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
 }
 h2 *{
    font-size: 48px;
 }
 h3 *{
    font-size: 24px;
 }
/* general tag end */

/* Banner part start */
    .container .banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 1040px;
    margin: 30px auto;
 }
 .banner-text{
    padding: 100px 100px;
}
 .banner-text .banner-title{
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
}
 .banner-text .banner-title-two{
width: 632px;
color: #FFF;
text-align: center;
font-size: 72px;
font-weight: 900;
margin: 0 auto;
padding: 10px;
}
/* Banner part start */

/* Categories part start */

 #categories{
    margin: 100px 0px;
}
 .container-content{
   text-align: center;
}

 .container-content .content-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
 .container-content .content-p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    margin-top: 35px;
    font-family: 'Inter', sans-serif;
}
 .container-content .content-info{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
}
 .container-content .categories-img{
    margin-top: 50px;
}

/* Categories part End */

/* Midnight part Start */

    #midnight{
        margin: 100px 0px;
    }
    .midnight{
        background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
        background-size: contain;
        background-repeat: round;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .midnight-content{
        display: flex;
        justify-content: space-between;
    }
    .midnight-content .midnight-one{
        padding: 50px;
    }
    .midnight-content .midnight-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
}
.midnight-content .midnight-info{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}
.submit{
margin-top: 48px;
color: #FFF;
background-color: #F00;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
border: none;
border-radius: 10px;
}
.midnight-content .midnight-two img{
    padding: 50px;
}

/* Midnight part End */

/* Location part Start */

#location{
    margin-top: 100px;
}

.location-bag{
    background-color: pink;
    border-radius: 10px;
    padding: 150px 0px;
}
.location-content{
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.location-content .location-par{
text-align: center;
font-size: 25px;
font-weight: 600;
text-transform: capitalize;
}
.location-content  span{
    color: #F00;
}

/* Location part End */

/* coming soon part start */

#coming-soon{
    margin: 100px 0px;
}
.container{
    max-width: 1040px;
}
.comingsoon-content{
    display: flex;
}
.comingsoon-first-col{
    margin: 60px auto;
    width: 56%;
} 
.coming title{
color: #F00;
text-align: center;
font-family: Inter;
}
.coming-title-two{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
line-height: normal;
text-transform: capitalize;
}
.coming-par{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.comingsoon-second-content .coming-border{
    
}
.coming-border{
    border-radius: 463px;
border: 15px solid #F00;
}
.radious{
    padding: 15px;
}
.coomingsoon-third-content{
    margin: 60px auto;
    text-align: center;
}
.coming-year{
color: #F00;
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.coming-per{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}


/* coming soon part end */

/* Holiday part start */

/* Holiday part start */

/* Portfolio part start */

#portfolio{
    margin-top: 100px;
}
.container-two{
    max-width: 1400px;
  margin: 0 auto;
}
.portfolio-content{
background-color: #fbad50;
}
.portfolio-text{
color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.portfolio-heading{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 16px;
}
.portfolio-par{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
width: 896px;
margin-top: 22px;
}
.portfolio-img{
    margin-top: 45px;
}
.portfolio-col-one .images{
    text-align: center;
}
.one{
    margin: 0px 15px 15px 0px;
}
.two{
    margin: 0px 15px 15px 0px;
}
.three{
    margin: 0px 0px 15px 0px;
}
.portfolio-col-two{
    text-align: center;
}
.col-two-one{
    margin: 0px 15px 0px 0px;
}
.col-two-two{
    margin: 0px 15px 0px 0px;
}
.col-two-three{
    margin: 0px 15px 0px 0px;
}

/* Portfolio part End */

/*  subscribe part start */
#subscribe{
    padding: 100px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}
.subscription-bag {
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px;
}

.subscribe-text{
    margin: 0 auto;
    align-items: center;
}
.subscribe-title{
color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 40px;
}
.subscribe-par{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
width: 896px;
margin: 0 auto;
margin-top: 22px;
}
.form{
    margin-top: 40px;
}
input{
    border: none;
    padding: 15px;
    width: 400px;
    border-radius: 50px
}

button{
    padding: 50px;
    border: none;
    padding: 15px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 150px;
    height: 50px;
    cursor: pointer;
}


/* subscribe part end */

/* footer part start */

footer{
    background: #070211;
        padding: 100px 150px;
      }

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4{
    color: #fff;
}
.footer-col-one{
   width: 485px;
}
.footer-info{
color: #FFF;
font-family: Inter;
font-size: 22px;
line-height: 40px;
font-family: 'Inter', sans-serif;
margin-bottom: 25px;
}

.footer-col-two{
    width: 325px;
}

h4 {
    color: #fff;
    font-size: 10px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
  }
  .fa-phone::before {
    margin-right: 5px;
  }
  .fa-globe::before{
    margin-right: 5px;
  }
.social-icon{
    display: block;
    text-align: center;
    width: 100px;
    height: 64px;
    margin: 50px auto;
}
.social-icon ul{
    display: flex;
  margin-top: 30px;
  list-style: none;
}
.fa-facebook::before{
    font-size: 25px;
    color: #316FF6;
  }
  .fa-instagram::before{
    font-size: 25px;
    color:#fbad50;
  }
  .fa-linkedin::before{
    font-size: 25px;
    color: #0077b5;
  }
.social-icon ul li{
    margin-right: 20px
}

.footer-last-info{
    display: flex;
    justify-content: space-between;
}
.footer-last-info p{
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
font-family: 'Inter', sans-serif;
margin-top: 25px;
}

hr{
    background: rgba(255, 255, 255, 0.15)
}

/* footer part End */