@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}

/* genarel tag start */

 .container{
    
    max-width: 1024px;
    margin: 0 auto;
 }
/* general tag end */

/* Banner part start */
 .container .banner{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 1040px;
    margin: 30px auto;
 }
 .banner-text{
    padding: 100px 100px;
}
 .banner-text p{
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
}
 .banner-text h1{
width: 632px;
color: #FFF;
text-align: center;
font-size: 72px;
font-weight: 900;
margin: 0 auto;
padding: 10px;
}
/* Banner part start */

/* Categories part start */

 #categories{
    padding: 100px 0px;
}
 .container-content{
   text-align: center;
}

 .container-content .content-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
 .container-content .content-p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    margin-top: 48px;
}
 .container-content .content-info{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}
 .container-content .categories-img{
    margin-top: 50px;
}

/* Categories part End */

/* Midnight part Start */

    #midnight{
        padding: 100px 0px;
    }
    .midnight{
        background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0px 100px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .midnight-content{
        display: flex;
        justify-content: space-between;
    }
    .midnight-content .midnight-one{
        padding: 50px;
    }
    .midnight-content .midnight-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
}
.midnight-content .midnight-info{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}
.submit{
margin-top: 48px;
color: #FFF;
background-color: #F00;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
border: none;
border-radius: 10px;
padding: 16px 32px;
}
.midnight-content .midnight-two img{
    padding: 50px;
}

/* Midnight part End */

/* Location part Start */

#location{
    
}

.location{
    background-color: aquamarine;
    padding: 100px 100px 100px 100px;
    border-radius: 10px;
}
.location-content{
    margin: 0 auto;
    text-align: center;
}
.location-content .location-par{
text-align: center;
font-size: 30px;
font-weight: 600;
text-transform: capitalize;
}
.location-content  span{
    color: #F00;
}

/* Location part End */

/* Portfolio part start */

/* Portfolio part End */

/*  subscribe part start */
#subscribe{
    width: 1230px;
  height: 616px;
  margin: auto;
}
{
.container {
        max-width: 1024px;
        width: 75%;
        margin: 0 auto;
      }
}

.subscribe-text{
    background-color: black;
    
}

/* subscribe part end */