@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
/* Banner part start */
header{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 320px 0px;
    width: 100%;
    border-radius: 16px;
}
.container{
    width: 1040px;
    margin: 0 auto;
}
.banner-text p{
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
}
.banner-text h1{
width: 632px;
color: #FFF;
text-align: center;
font-size: 72px;
font-weight: 900;
margin: 0 auto;
padding: 10px;
}
/* Banner part start */

/* Categories part start */

#categories{
    padding: 100px 0px;
}
.container{
    max-width: 1040px;
}
.container-content{
   text-align: center;
}

.container-content .content-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.container-content .content-p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    margin-top: 48px;
}
.container-content .content-info{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
}
.container-content .categories-img{
    margin-top: 50px;
}

/* Categories part End */